DATABASE_URL="postgresql://user:password@localhost:5432/msg"
NEXTAUTH_SECRET="your-secret-here-run-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"
PUSHER_APP_ID="your-pusher-app-id"
PUSHER_KEY="your-pusher-key"
PUSHER_SECRET="your-pusher-secret"
PUSHER_CLUSTER="your-pusher-cluster"
NEXT_PUBLIC_PUSHER_KEY="your-pusher-key"
NEXT_PUBLIC_PUSHER_CLUSTER="your-pusher-cluster"
